/* google font family copied */
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
.header{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(../Images/Banner\ Image.png);
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
}
.header h4{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
padding-top: 177px;
margin-bottom: 5px;
}
.header h1{
    color: #FFF;
    width: 632px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    margin: 0 auto;
}
.deal{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 10px;
}
.better{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}
.categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 3px;
}
.newyear{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
}
.meta-header{
    background-color: rgb(243, 238, 243);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 780px;
}

